name: Build

on: [push, pull_request]

env:
  CMAKE_VERSION: 3.29.6

jobs:
  ubuntu-clang:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..
      - name: make
        working-directory: build
        run: make
