name: Build

on: [push, pull_request]

env:
  CMAKE_VERSION: 3.29.6

jobs:
  ubuntu-clang-make:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: setup env
        run: |
          sudo apt-get update
          sudo apt-get install clang-18 lld-18
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug ..
        env:
          CC: clang-18
          CXX: clang++-18
      - name: make
        working-directory: build
        run: make

  ubuntu-gcc-make:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: setup env
        run: |
          sudo apt-get update
          sudo apt-get install gcc-13
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug ..
        env:
          CC: gcc-13
          CXX: g++-13
      - name: make
        working-directory: build
        run: make

  ubuntu-clang-ninja:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: setup env
        run: |
          sudo apt-get update
          sudo apt-get install clang-18 lld-18 ninja-build
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug -G Ninja ..
        env:
          CC: clang-18
          CXX: clang++-18
      - name: ninja
        working-directory: build
        run: ninja -d keepdepfile

  ubuntu-gcc-ninja:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: setup env
        run: |
          sudo apt-get update
          sudo apt-get install gcc-13 ninja-build
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug -G Ninja ..
        env:
          CC: gcc-13
          CXX: g++-13
      - name: ninja
        working-directory: build
        run: ninja -d keepdepfile

  macos-make:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug ..
      - name: make
        working-directory: build
        run: make

  macos-xcodebuild:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: setup env
        run: |
          gem install xcpretty
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug -G Xcode  ..
      - name: xcodebuild
        working-directory: build
        run: xcodebuild -alltargets -quiet
