name: Test

on: [push, pull_request]

env:
  CMAKE_VERSION: 3.29.6

jobs:
  ubuntu-clang:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: setup env
        run: |
          sudo apt-get update
          sudo apt-get install clang-18 lld-18
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug -DJET_LIVE_BUILD_TESTS=ON ..
        env:
          CC: clang-18
          CXX: clang++-18
      - name: make
        working-directory: build
        run: make
      - name: test
        working-directory: build
        run: ../tools/tests/test_runner.py -b . -d tests -s ../tests

  ubuntu-gcc:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: setup env
        run: |
          sudo apt-get update
          sudo apt-get install gcc-13
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug -DJET_LIVE_BUILD_TESTS=ON ..
        env:
          CC: gcc-13
          CXX: g++-13
      - name: make
        working-directory: build
        run: make
      - name: test
        working-directory: build
        run: ../tools/tests/test_runner.py -b . -d tests -s ../tests

  macos-make:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: mkdir
        run: mkdir build
      - name: cmake
        working-directory: build
        run: cmake -DCMAKE_BUILD_TYPE=Debug -DJET_LIVE_BUILD_TESTS=ON ..
      - name: make
        working-directory: build
        run: make
      - name: test
        working-directory: build
        run: ../tools/tests/test_runner.py -b . -d tests -s ../tests

  # TODO: hangs for some reason
  # macos-xcodebuild:
  #   runs-on: macos-15
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: setup env
  #       run: |
  #         gem install xcpretty
  #     - name: mkdir
  #       run: mkdir build
  #     - name: cmake
  #       working-directory: build
  #       run: cmake -DCMAKE_BUILD_TYPE=Debug -DJET_LIVE_BUILD_TESTS=ON -G Xcode ..
  #     - name: xcodebuild
  #       working-directory: build
  #       run: xcodebuild -alltargets -quiet
  #     - name: test
  #       working-directory: build
  #       run: ../tools/tests/test_runner.py -b . -d tests/Debug -s ../tests
